<!DOCTYPE html>
<html>
<head>
    <title>Actors page</title>
      <%- include('partials/head')%>
      <meta name="description" content="Browse the latest movies with reviews, IMDb ratings, trailers, cast, release dates, screenshots and OTT availability on MVT Reviews.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">

</head>
<body>


    <%- include('partials/header') %>
    <h1><%= actor.name %> Movies</h1>

<div class="movie-list">
  
    <%- include('partials/movieGrid') %>
</div>
    <%- include('partials/paging') %>
    <%- include('partials/footer') %>

</body>
</html>