<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actors</title>

    <link rel="stylesheet" href="/css/main.css">

    <style>
        #actorSearch {
            width: 100%;
            max-width: 600px;
            display: block;
            margin: 20px auto 30px;
            padding: 15px 20px;
            border: none;
            outline: none;
            border-radius: 50px;
            font-size: 16px;
        }

        #actorBox {
            max-width: 1000px;
            margin: auto;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 15px;
        }

        #actorBox a {
            text-decoration: none;
            color: white;
            background: #1e293b;
            padding: 20px;
            border-radius: 15px;
            text-align: center;
            font-weight: 600;
            transition: .3s;
            box-shadow: 0 4px 15px rgba(0,0,0,.2);
        }

        #actorBox a:hover {
            transform: translateY(-5px);
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
        }

        @media(max-width:700px) {
            #actorBox {
                grid-template-columns: repeat(4,1fr);
            }
        }

        @media(max-width:400px) {
            #actorBox {
                grid-template-columns: repeat(2,1fr);
            }
        }
    </style>
</head>
<body>

    <%- include('partials/header') %>

    <h1>Actors</h1>

    <input
        type="search"
        id="actorSearch"
        placeholder="Search Actors..."
    >

    <div id="actorBox">
        <% actor.forEach(actor => { %>
            <a
                href="/actor/<%= actor._id %>/"
                data-name="<%= actor.name.toLowerCase() %>"
            >
                <%= actor.name %>
            </a>
        <% }) %>
    </div>

    <%- include('partials/footer') %>

    <script>
        const actorSearch = document.getElementById("actorSearch");
        const actorLinks = document.querySelectorAll("#actorBox a");

        actorSearch.addEventListener("input", () => {
            const value = actorSearch.value.toLowerCase();

            actorLinks.forEach(actor => {
                actor.style.display =
                    actor.dataset.name.includes(value)
                    ? "block"
                    : "none";
            });
        });
    </script>

</body>
</html>