<!DOCTYPE html>
<html lang="en">
<head>
  <title>Latest Web Series Reviews & Ratings | MVT Reviews</title>
      <%- include('partials/head') %>
  

<meta name="description" content="Discover the latest web series reviews, ratings, OTT platforms, cast, episodes, trailers and release dates on MVT Reviews.">

<link rel="canonical" href="https://www.mvtreviews.free.je/series">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<h1>All Series</h1>

    <%- include('partials/header') %>
<div class="movie-list">
  
    <%- include('partials/movieGrid') %>
</div>
    <%- include('partials/paging') %>
    <%- include('partials/footer') %>

</body>
</html>